Created a Jupyter Notebook named "initial_data_exploration.ipynb" and perform preliminary data exploration. For example:

1) Read the datasets into dataframes.

2) Find out number of observatoins and columns,

3) Column data types,

4) Check for number of unique categories for categorical variables.

5) Check for missing values

6) Identify potential features for machine learning (some columns may not have predictive power)

7) Identify the target column 

8) Look at the distribution of the target columns. for categorical type, find out if it is imblanced. For numeric type, see how it is distributed  (summary statistics, boxplot, histogram).

This notebook must be well formatted/styled with Markdown cells, code cells along with results. It must be checked into GitHub as part of the submission.

In [1]:
#importing the needed packages
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
plt.rc('figure' , figsize=(12,6))
import seaborn as sns

## Online Retail Data Set

In [35]:
onlineRetail = pd.read_excel("./data/online_retail_II.xlsx")

In [36]:
onlineRetail.describe()

            Quantity          Price    Customer ID
count  525461.000000  525461.000000  417534.000000
mean       10.337667       4.688834   15360.645478
std       107.424110     146.126914    1680.811316
min     -9600.000000  -53594.360000   12346.000000
25%         1.000000       1.250000   13983.000000
50%         3.000000       2.100000   15311.000000
75%        10.000000       4.210000   16799.000000
max     19152.000000   25111.090000   18287.000000

In [20]:
onlineRetail.isnull().sum(axis=0)

Invoice             0
StockCode           0
Description      2928
Quantity            0
InvoiceDate         0
Price               0
Customer ID    107927
Country             0
dtype: int64

In [21]:
#Drop items with no description and Customer ID
onlineRetail.shape

(525461, 8)

In [27]:
onlineRetail.dropna(axis=0, how='any', thresh=None, subset=None, inplace=True)
#https://www.w3resource.com/pandas/dataframe/dataframe-dropna.php

In [28]:
onlineRetail.shape

(417534, 8)

In [30]:
onlineRetail.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 417534 entries, 0 to 525460
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   Invoice      417534 non-null  object
 1   StockCode    417534 non-null  object
 2   Description  417534 non-null  object
 3   Quantity     417534 non-null  int64
 4   InvoiceDate  417534 non-null  datetime64[ns]
 5   Price        417534 non-null  float64
 6   Customer ID  417534 non-null  float64
 7   Country      417534 non-null  object
dtypes: datetime64[ns](1), float64(2), int64(1), object(4)
memory usage: 28.7+ MB

In [33]:
col1 = ['Description','Country']
for col in col1:
    print('{} : {}'.format(col,onlineRetail[col].unique()))

Description : ['15CM CHRISTMAS GLASS BALL 20 LIGHTS' 'PINK CHERRY LIGHTS'
 ' WHITE CHERRY LIGHTS' ... 'BAKING MOULD ROSE MILK CHOCOLATE'
 'BAKING MOULD CHOCOLATE CUP CAKES' 'BAKING MOULD EASTER EGG MILK CHOC']
Country : ['United Kingdom' 'France' 'USA' 'Belgium' 'Australia' 'EIRE' 'Germany'
 'Portugal' 'Japan' 'Denmark' 'Netherlands' 'Poland' 'Spain'
 'Channel Islands' 'Italy' 'Cyprus' 'Greece' 'Norway' 'Austria' 'Sweden'
 'United Arab Emirates' 'Finland' 'Switzerland' 'Unspecified' 'Nigeria'
 'Malta' 'RSA' 'Singapore' 'Bahrain' 'Thailand' 'Israel' 'Lithuania'
 'West Indies' 'Korea' 'Brazil' 'Canada' 'Iceland']